* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.item_form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}



ul li {
    list-style: none;
}

button {
    border: none;
    border-radius: 30px;
}

header  {
    background-color: rgba(45, 182, 212, 0.5);
    padding: 50px 0;
}

nav {
    background: #F0F0F0;
    border-radius: 30px;
    padding: 10px;
    max-width: 1319px;
    margin: 0 auto;
    font-size: 22px;
}

.nav_items {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.nav_items a {
    text-decoration: none;
    color: #1D5D84;
}

.title_site {
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: start;
}

h1 {
    font-size: 32px;
    color: #E5EDEF;
    width: 40%;
}

.title_h2 {
    font-size: 24px;
    color: #E5EDEF;
    width: 40%;
}

.title_btn  {
    padding: 10px;
    border: none;
    background-color: #E9B25B;
    border-radius: 30px;
    font-size: 18px;
    color: #E5EDEF;
}

.about {
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding-left: 125px;

}

.left {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.img_logo_about {
    width: 30%;
    height: 30%;
}

.img_logo_about img {
    width: 100%;
    height: 100%;
}

.about_h2 {
    text-align: center;
}

.about_h2, .left p {
    color: #1D5D84;
}

.left p {
    width: 80%;
    font-size: 20px;
}


.about_items {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

.about_item {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

.about_item p {
    color: #1D5D84;
    font-size: 20px;
}

.last_item_left {
    width: 100%;
}

.cources {
    margin-top: 100px;
    background: rgba(0, 51, 102, 0.8);

    color: #FFFFFF;
    padding: 20px 125px;

}

.cource_h2 {
    text-align: center;
}


.links_cource {
    margin-top: 50px;
    margin-bottom: 160px;
}
.links_cource ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
}

.links_cource li a {
    color: white;
    text-decoration: none;
}

.cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}

.card, .card ul {

    border-radius: 30px;
    background: #F0F0F0;
    color: #444748;

}

.card h3 {
    font-weight: bold;
    font-size: 24px;
}

.card p, .card li{
    font-size: 20px;
}

.card button {
    padding: 10px;
    background: #E9B25B;
    color: #E5EDEF;
    font-size: 20px;
    width: 50%;
}

.bottom_card {
    height: 100px;
    border-radius: 0 0 30px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.first {
    background-image: url('../img/image 25 (1).png');

}

.second {
    background-image: url('../img/drone\ 2.png');
}

.third {
    background-image: url('../img/drone\ 3.png');
}

.fourth {
    background-image: url('../img/drone\ 4.png');
}

.up_card {
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}


/* SLIDER */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper_slider_container {
  max-width: 1100px;
  width: 100%;
  position: relative;
}
.wrapper_slider_container i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper_slider_container i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper_slider_container i:first-child{
  left: -22px;
}
.wrapper_slider_container i:last-child{
  right: -22px;
}
.wrapper_slider_container .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card_slider {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card_slider, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card_slider {
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 15px;
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card_slider .img {
  background: #657af3;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  margin: 0 auto;
}
.card_slider .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card_slider h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card_slider span {
    text-align: start;
  color: #6A6D78;
  font-size: 1.31rem;
}
@media screen and (max-width: 900px) {
  .wrapper_slider_container .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper_slider_container .carousel {
    grid-auto-columns: 100%;
  }
}

.slider_sec {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to left top, #24597a7a, #53b2ee);
  padding: 60px;
}



/* NEWS */

 .news {
  margin-top: 100px;
 }

 .title_news {
  text-align: center;
  color: #1D5D84;
  font-size: 40px;
 }

 .blocks_news {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
 }

 .new {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
  background-color: #F0F0F0;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 2px 3px 3px 0.3px gray;
  transition: .3s ease;
 }

 .new:hover {
  box-shadow: 3px 5px 5px 0.6px gray;
  translate:  0 2px;
 }

 .new h3 {
  color: #007BFF;
 }

 .title_new p {
  font-size: 14px;
  color: gray;
 }

.text_content_card_new {
  color: #4B4B4B;
  font-weight: bold;
}

.new_btn {
  text-align: center;
    padding: 10px;
    background-color: #2DB6D4;
    width: 12%;
    color: #F0F0F0;
    border-radius: 15px;
}

.new_btn{
  text-decoration: none;
}

/* TRUST */

.trust {
  margin-top: 100px;

}

.trust h2 {
  text-align: center;
  color: #1D5D84;
  font-weight: bold;
  
}


.trust_content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap:70px;
  flex-wrap: wrap;
  width: 100%;
  
}


.item_trust {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}


.item_trust h3 {
  color: #007BFF;
  font-size: 26px;
}

.logo_partner {
  display: flex;
  gap: 30px;
}

.support {
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  background-color: #F0F0F0;
  border-radius: 30px;
  margin-top: 100px;
}

.support h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #444748;
}

.support form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}


input {
  padding: 10px;
  background-color: #FFFFFF;
  color: #444748;
  background-color: #FFFFFF;
  border-radius: 30px;
  border: none;
}
.btn_form {
  background-color: #E9B25B;
  border-radius: 30px;
  color: #FFFFFF;

}


/* FOOTER */

.footer_wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.footer_item_title {
  color: #444748;
  font-size: 24px;

}

.footer_item, .footer_item ul {
  flex-direction: column;
  display: flex;
  gap: 20px;
}



footer a {
  color: #1D5D84;
  font-size: 20px;
  text-decoration: none;
}


.logo_links {
  display: flex;
  align-items: center;
  gap: 10px;  
}

.logo_links img{
  width: 80%;
  height: 80%;
}

.contacts_footet P {
  padding: 2px;
  border-bottom: 1px black solid  ;
}

.copyright {
  padding-bottom: 20px;
  text-align: center;
}


.footer_wrapper {
  padding-bottom: 20px;
  border-bottom: 1px black solid;
}


/* SIGNIN */


.signIn, .register {
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        display: none;
        justify-content: center;
        align-items: center;
}

.register_wrapper {
  width: 20%;
}

.signIn_wrapper, .register_wrapper {
  padding: 30px;  
  background-color: #307dbcd3;
  border-radius: 40px;
  margin: 0 auto; 

}

.signIn h2, .register h2 {
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.form_signIn_wrapper, .form_register_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.signIn form, .register form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
  outline: none;
}

.form_signIn_wrapper input, .form_register_wrapper input {
  background-color: #D9D9D9;
  color: black;
  font-size: 1rem;
}

.form_signIn_wrapper .btn_signIn, .form_register_wrapper .btn_register {
  color: #E5EDEF;
  width: 80%;
  height: 80%;
  background-color: #E9B25B;
  box-shadow: 3px 5px 5px .3px #002d52d3;
  transition: 3.s ease;

}

.form_signIn_wrapper .btn_signIn:hover, .form_register_wrapper .btn_register:hover  {
  box-shadow: 5px 7px 10px .5px #002d52d3;
  translate: 0 5px;
}

.signIn input:focus, .signIn input:hover, .register input:focus, .register input:hover {
  translate: 0 5px;
  box-shadow: 5px 7px 10px .5px #002d52d3;
  outline: none;
} 

.pass_recover {
  padding-top: 6px;
}

.pass_recover a {
  font-size: 14px;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}


.agreement {
  display: flex;
  align-items: center;
}

.link_register, .link_login {
  text-align: center;
  padding: 10px;
  display: flex;
  gap: 10px;
}
.link_register p, .link_login p {
  color: #FFFFFF;
}

.link_register a, .link_login a {
  color: #173445;
  text-decoration: none;
}


.close{
       position: relative;
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        right: 5%;
        top: 2%;
    }

    .close:hover,
    .close:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
    }